# copy this to .env and change the following variables
# to get your project code to run locally
PGUSER=YOURPOSTGRESUSER
PGPORT=5432
PGHOST=localhost
PGPASSWORD=YOURPOSTGRESPASSWORD
PGDATABASE=YOURFLYWEBAPPNAME
