* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-content {
    display: flex;
    padding-top: 0px;
}

#left-section {
    width: 30%;
    padding: 20px;
    background-color: #381B16;
    overflow-y: auto;
    height: 100vh;
    color: #FFFFFF;
}

.user-profile {
    text-align: center;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.friend-list, .friend-requests, .add-friend {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    margin: 5px 0;
}

#right-section {
    flex: 1;
    padding: 20px;
}

#chat-box {
    height: 400px;
    background-color: #e5aa8f;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

#chat-input {
    display: flex;
    gap: 10px;
}

#chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

#chat-input button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#chat-input button:hover {
    background-color: #0056b3;
}

body {
    background-color: #D45113;
}
