body {
    margin: 0px;
}

button {
    border-radius: 10%;
}

#content {
    flex-direction: row;
    display: flex;
}

/* messages stuff */
#messageBoxHeader {
    margin-bottom: auto;
}

#messageBox {
    margin: 0px;
    flex-grow: 1;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    max-height: 100vh;
    height: 100vh;
}

#messageInputBar {
    bottom: 0px;
    vertical-align: bottom;
    display: flex;
    min-height: 1.5rem;
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
    width: auto;
}
#messageInput {
    width: 80%;
}

#messages { 
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


#messages > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    margin-left: 5px;
}

/* #messages > .my-message {
    justify-content: flex-end;
    border-right: 1;
} */


/* end message stuff */